.categoryBlock {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    font-weight: bold;
}
.active {
    background-color: yellow;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.categoryBlock span {
    font-size: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
    padding: .5em 1em;
}

@media (max-width: 845px) {
    .categoryBlock span {
        font-size: 1em;
    }
}
@media (max-width: 700px) {
    .categoryBlock span {
        font-size: .8em;
    }
}
@media (max-width: 565px) {
    .categoryBlock {
        flex-direction: column;
        align-items: center;
    }
    .categoryBlock span{
        font-size: 1.4em;
    }
}