.wrapper {
    width: 105%;
    height: 750px;
    margin-left: -2.5%;
    background: url('/contactbg.png');
    background-size: cover;
    font-size: 2em;
    color: white;
    display: flex;
    justify-content: space-between;
}

.infoBlock {
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.left span:nth-child(2){
    margin-top: 30px;
}
.left span:nth-child(1){
    font-size: 1.7em;
    color: orange;
    font-weight: bolder;
}
.mesengers {
    display: flex;
    justify-content: space-between;
    border-radius: 40px;
    background-color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}
.mesengers span {
    font-family: fantasy;
    font-size: 20px;
    color: black;
    padding: .5em 1em;
    cursor: pointer;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.mesengers span:hover{
    color: red;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.active {
    border-radius: 40px;
    padding: 0 2em;
    background-color: yellow;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    transition: .7s all;
    -webkit-transition: .7s all;
    -moz-transition: .7s all;
    -ms-transition: .7s all;
    -o-transition: .7s all;
    
}
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form {
    margin-top: 20px;
}
.form input {
    width: 100%;
    padding: .5em 0;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    font-size: .6em;
}
.link {
    display: block;
    padding-top: 1.8em;
    font-size: 1.25em;
    line-height: 2em;
    color: orange;
}

@media (max-width: 1100px) {
    .infoBlock {
        width: 90%;
        margin-left: 5%;
    }
    .left {
        font-size: .9em;
        font-weight: 400;
    }
}

@media (max-width: 930px) {
    .infoBlock {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left {
        text-align: center;
    }
}