.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
    
    background-color: white;
    text-align: left;
    margin-bottom: 3em;
}
.oneProduct {
    width: 90%;
    margin-left: 5%;
    margin-top: 10%;
    padding: 1em 0;
    height: auto;
    cursor: pointer;
    box-shadow: 5px 5px 15px gray;
    border-radius: 5px;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.oneProduct h3 {
    font-size: 1.2em;
    font-family: fantasy;
    padding: 10px 10px;
}
.oneProduct:hover{
    box-shadow: 5px 5px 25px black;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.info {
    display: flex;
    justify-content: space-around;
}
.period {
    display: flex;
    flex-direction: column;
}
.rubl {
    font-family: 'PT Sans', serif;
}
.button {
    display: block;
    width: 60%;
    margin-left: 20%;
    margin-top: 30px;
    padding: 1em 1em;
    background-color: yellow;
    border-radius: 10px;
    font-weight: 900;
    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.button:hover {
    background-color: orange;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.cost {
    color:gray;
    font-family: fantasy;
    font-size: 1.2em;
    margin-top: 10px;
}
.forPeriod {
    font-size: 1.4em;
    font-family: fantasy;
    font-weight: 900;
}
@media (max-width: 982px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 596px) {
    .wrapper {
        display: block;
    }
}