.wrapper {
    width: 90%;
    margin-left: -2.5%;
    padding: 2em 0;
}
.strelki {
    margin-left: 24%;
}

.imgBlock {
    display: flex;
    justify-content: space-between;
}
.left {
    display: inline-block;
    /* flex-direction: column; */
}
.left img {
    max-width: 100%;
}
.manual {
    font-size: 2.2em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    margin-left: 10%;
}
.manual span {
    margin: 40px 0 40px 0;
    text-align: center;
}
.first {
    color: #cde01c;
}
.manual img {
    max-width: 100px;
}

@media (max-width: 1020px) {
    .manual span {
        margin: 20px 0 40px 0;
        text-align: center;
    }
    .manual {
        font-size: 1.6em;
    }
    .strelki {
        width: 40%;
    }
}
@media (max-width: 750px) {
    .wrapper {
        width: 100%;
    }
    .imgBlock {
        flex-direction: column-reverse;
    }
    .strelki {
        width: 50%;
        margin-left: 10%;
    }
}