.wrapper {
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav{
    margin-top: 30px;
}
.nav img:nth-child(2){
    margin-left: 25px;
}
.nav img:nth-child(3){
    margin-left: 25px;
}

.info {
    display: flex;
    justify-content: center;
}
.imageWrap {
    background-color: yellow;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.imageWrap img {
    height: 100px;
    width: 100px;
    margin-top: 25px;
    position: relative;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.items img {
    margin-top: 20px;
}
.items:nth-child(2) {
    margin-left: 30px;
}
.items:nth-child(3) {
    margin-left: 30px;
}
.items p {
    font-size: 1.4em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}