.wrapper {
    /* display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center; */
    padding: 2em 0;
    width: 105%;
    margin-left: -2.5%;
    background-color: #FFFCAE;
}
.wrapper p {
    font-size: 1.2em;
    font-family: fantasy;
}
.first {
    margin-top: 19px;
}
.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.nav img:nth-child(2) {
    margin-left: 50px;
}
.nav img:nth-child(3) {
    margin-left: 50px;
}