.slider {
    display: flex;
    justify-content: center;
    width: 105%;
    height: auto;
    margin-left: -2.5%;
    overflow-x: hidden;
}
.slider div {
    display: inline-block;
    justify-content: center;
    text-align: right;
    width:100%;
    /* cursor: pointer; */

}
.slider img{
    width: 100%;
    height: 100%;
    padding: .5em 0;
    color: #F15A03;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.slickArrow {
    position: absolute;
}
.prev {
    background-color: inherit;
    justify-content: start;
    margin-top: 13%;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 2;
}
.next {
    width: 50px;
    height: 50px;
    margin-left: -60px;
    margin-top: 13%;
    background-color: inherit;
    cursor: pointer;
    z-index: 2;
}
.info {
    text-align: right;
    color: white;
    font-family: Montserrat;
    font-weight: 800;
    padding-right: 100px;
}
.title {
    font-size: 70px;
}
.description {
    font-size: 25px;
    font-weight: bolder;
}
.katalog {
    display: inline-block;
    margin-top: 30px;
    background-color: #FFC805;
    /* box-shadow: 0px 2px 25px rgba(255, 199, 0, 0.4); */
    border-radius: 50px;
    padding: 10px 45px;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 2px 2px gray;
    font-size: 1.3em;
    transition: .3s;
}
.katalog:hover {
    background-color: yellow;
    transition: .3s;
}