.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    font-size: 2em;
    font-weight: 800;
    font-family: cursive;
    padding: 10px 10px;
    transform: rotate(2deg);
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
}
.logo span {
    color: yellow;
    font-weight: bolder;
    font-family: fantasy;
    letter-spacing: 5px;
    margin-left: 5px;
    text-shadow: 5px 5px 15px black;
    
}
.menu {
  font-size: 1.2em;
  font-family: fantasy;
  display: flex;
  font-weight: bold;
  justify-content: center;
  width: auto;
  letter-spacing: 2px;
  transform: rotate(2deg);
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    -ms-transform: rotate(1deg);
    -o-transform: rotate(1deg);
}
.menu a {
    margin-left: 15px;
}
.tel {
    font-size: 1.4em;
    font-family: cursive;
    text-shadow: 4px 4px 20px yellow;
}
